
<h2>{{titleContacts}}</h2>

<ngui-map 
  zoom="5" 
  [center]="mapCoordinates.lat + ', ' + mapCoordinates.lng"
  (mapReady$)="onMapReady($event)"
  (mapClick)="onMapClick($event)"
  (idle)="onIdle($event)"
>
  <marker 
    *ngFor="let pos of positions" 
    [position]="pos"
    (initialized$)="onMarkerInit($event)"
  ></marker>
</ngui-map> 

<br>

<div class="list-group contacts">
  <div *ngFor="let contact of contacts" class="list-group-item">
    <img class="icon float-left" src="https://www.quackit.com/pix/samples/12s.jpg" alt="">
    <div class="inline">
      <h5 class="mb-1">{{contact.name}}</h5>
      <button type="button" class="btn btn-outline-primary">edit</button>
      <button type="button" class="btn btn-outline-danger">delete</button>
    </div>
  </div>
</div>
